@tailwind base;
@tailwind components;
@tailwind utilities;

.app-background {
  background-image: linear-gradient(to bottom right, #3b82f6, #9ca3af, #bbf7d0);
  /* Replace with your actual color values */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* Faz o fundo fixo na viewport */
  background-size: cover;
  /* cobre toda área */
}

:root {
  --font-inter: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #1B405D;
  border-radius: 7px;
  border: 2px solid #f0f0f03a;
}

.p-column-header-content {
  align-content: center !important;
  display: block !important;
}

input,
select,
.p-dropdown {
  background-color: white !important;
  color: black;
  border: 1px solid #D9D9D9;
  padding: 1px;
  border-radius: 4px;
}

body {
  font-family: var(--font-inter-regular), var(--font-inter-bold), sans-serif;
}

/* estilos para input type=file */
.file-input {
  display: none;
}

.custom-file-input {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f0f0f0;
  /* Cor de fundo cinza claro */
  color: #1B405D;
  /* Cor do texto 'blue' (do Tailwind) */
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid #D1D5DB;
  /* Borda cinza escuro (cor do Tailwind) */
  transition: background-color 0.3s ease;
}

.custom-file-input:hover {
  background-color: #e0e0e0;
  /* Cor de fundo ao passar o mouse (cinza claro mais escuro) */
}

.custom-file-input span::before {
  content: "📁";
  margin-right: 8px;
}



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}



@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.tabela-limitada td {
  max-width: 200px;
  height: 45px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.visualizando {
  opacity: 0.6;
}

.visualizando input,
.visualizando textarea,
.visualizando select {
  background-color: #e5e7eb !important;
  cursor: text;
  /* Bloqueia o cursor de edição */
}

.app-zoom {
  transform: scale(0.8);
  transform-origin: top left;
  width: 125%;
}